<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RedmineTimePuncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <RedmineTimePuncher.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="AdminApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="IsUpgrade" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinTimeRulerExtent" serializeAs="String">
                <value>2400</value>
            </setting>
            <setting name="LastSelectedDate" serializeAs="String">
                <value />
            </setting>
            <setting name="LastAppointments" serializeAs="String">
                <value />
            </setting>
            <setting name="AppVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="LastTimeIndicatorMyWorks" serializeAs="String">
                <value />
            </setting>
            <setting name="LastTimeIndicatorRedmine" serializeAs="String">
                <value />
            </setting>
            <setting name="LastTimeIndicatorOutlook" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="RadRibbonViewIsMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GridRowHeight1" serializeAs="String">
                <value>200*</value>
            </setting>
            <setting name="GridRowHeight2" serializeAs="String">
                <value>100*</value>
            </setting>
            <setting name="GridRowHeight3" serializeAs="String">
                <value>Auto</value>
            </setting>
            <setting name="LastDeletedAppointments" serializeAs="String">
                <value />
            </setting>
            <setting name="LastTimeIndicatorTeams" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteIssueIds" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="UserNameOfBasicAuth" serializeAs="String">
                <value />
            </setting>
            <setting name="PasswordEncryptOfBasicAuth" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentLocale" serializeAs="String">
                <value />
            </setting>
            <setting name="CreateTicket" serializeAs="String">
                <value />
            </setting>
            <setting name="TicketGridViews" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedTicketGridIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VisualizeFilters" serializeAs="String">
                <value />
            </setting>
            <setting name="VisualizeResult" serializeAs="String">
                <value />
            </setting>
        </RedmineTimePuncher.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ReactiveProperty" publicKeyToken="910d1732782c71cb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.12.0.0" newVersion="7.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ReactiveProperty.Core" publicKeyToken="910d1732782c71cb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.12.0.0" newVersion="7.12.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>