<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="prefix"
            value="${longdate} [${environment-user}][${processid:padding=5}][${uppercase:${level:padding=5}}]" />

  <targets async="true">
    <target xsi:type="EventLog"
            name="info_eventlog"
            source="${event-properties:SourceName}"
            layout="${prefix} ${message}" />
    <target xsi:type="EventLog"
            name="debug_eventlog"
            source="${event-properties:SourceName}"
            layout="${prefix} ${message} - ${callsite}() : ${callsite-linenumber}" />
    <target xsi:type="EventLog"
            name="error_eventlog"
            source="${event-properties:SourceName}"
            layout="${prefix} ${message} - ${callsite}() : ${callsite-linenumber} ${exception:format=tostring}" />
    <target name="console"
            xsi:type="ColoredConsole"
            detectConsoleAvailable="false"
            layout="${prefix} ${message} - ${callsite}() : ${callsite-linenumber} ${exception:format=tostring}" />
  </targets>

  <rules>
    <!--<logger name="ApplicationEventLog" level="Info" writeTo="info_eventlog" />
    <logger name="ApplicationEventLog" level="Debug" writeTo="debug_eventlog" />-->
    <logger name="ApplicationEventLog" levels="Warn,Error" writeTo="error_eventlog" />
    <logger name="*" minLevel="Trace" writeTo="console" />
  </rules>
</nlog>